[submodule "code/containers"]
	path = code/containers
	url = /scratch1/03201/jbwexler/openneuro_derivatives_tests/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives_tests/containers
[submodule "sourcedata/ds003338"]
	path = sourcedata/ds003338
	url = /scratch1/03201/jbwexler/openneuro_derivatives_tests/raw/ds003338
	datalad-id = 80e07c69-1f2c-4204-9914-32ecf65aa1e0
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives_tests/raw/ds003338
